/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 
 div#page-wrapper {
margin-top: -85px;
}

.sharethis-wrapper {
float: left;
width:934px;
height: 46px;
background: #10103f;
padding: 0;
margin-left: -5px;

}

.sharethis-wrapper span {
float: right;
width: 30px;
height: 30px;
font-size: 20px;
color: #10103f;
text-align: center;
line-height: 32px;
background: #FFFFFF;
border-radius: 60px;
behavior: url(PIE.htc);
position: relative;
}

.logo1 {
background: #fff url(../img/icon-curve01.gif) no-repeat top right;
padding: 17px 33px 0 8px!important;
width: 212px;
}

.nav>li>a {
height: 60px;
float: left;
text-decoration: none;
color: #7e8083;
line-height: 63px;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

.nav>li>a:hover{
	color: #49afe3;
background: url(../img/icon-arrow13.png) no-repeat bottom center;
position: relative;
z-index: 8;
}

section#block-search-form{
	width: 205px;
height: 26px;
float: right;
background: #FFFFFF;
border: 1px solid #cccdcb;
border-radius: 6px;
behavior: url(PIE.htc);
position: relative;
padding: 0 25px 0 0;
top: 27px;}

.input-group-btn
{
	width: 20px;
height: 18px;
float: right;
background: url(../img/icon-search01.png) no-repeat;
border: none;
outline: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
position: absolute;
top: 0px;
right: -61px;
cursor: pointer;}

.input-group .form-control
{
	width: 100%;
height: 24px;
float: left;
font-size: 14px;
font-family: "calibriregular", Arial, Helvetica, sans-serif;
background: none;
border: none;
border-radius:6px;
padding: 0 10px;}

.disagree-button {
position: absolute;
top: 11px;
right: 1px;
background: url(../img/icon-close01.png) no-repeat 0px 0px transparent !important;
text-indent: -99999px;
height: 13px !important;
width: 13px !important;
-webkit-box-shadow: none !important;
cursor: pointer;
}

#sliding-popup {
display: block;
margin-left:-14px;
margin-bottom: -19px;
border-bottom: 3px solid;
padding: 0px;
top: 0 !important;
text-align: center;
width:1350px!important;
height: 50px !important;
z-index: 99999;
background: #f1f1f4;
background: -moz-linear-gradient(#d7d7d9, #f1f1f4) !important;
background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d9), to(#f1f1f4)) !important;}

#sliding-popup .popup-content #popup-text {
color: #fff;
float: left;
font-weight: bold;
margin: 5px 0;
text-align: left;
max-width: 100%;
}

#sliding-popup .popup-content #popup-text p {
color: #7e8083 !important;
font-family: "calibrilight", Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 20px;
padding: 0;
margin-left: 159px;
margin-top: 10px;
font-weight: bold;
}

#sliding-popup .popup-content #popup-buttons button {
width: 75px;
height: 35px;
display: inline-block;
font-size: 14px;
color: #FFFFFF;
text-align: center;
text-transform: uppercase;
line-height: 25px;
font-family: "calibribold", Arial, Helvetica, sans-serif;
background: #49afe3;
border-radius: 0;
border: 0;
display: inline-block;
font-family: arial;
font-weight: bold;
padding: 0;
text-decoration: none;
text-shadow: 0px 0px 0px;
box-shadow: none;
margin: 0;
filter: none !important;
margin-top: 7px;
}

.sharethis-wrapper .st_facebook_custom {
background-image: url("../img/social-icons.png")!important;
background-position:0 0;

}
.sharethis-wrapper .st_facebook_custom:hover {
background-image: url("../img/social-icons.png")!important;
background-position: 0 -33px;
}
.sharethis-wrapper .st_twitter_custom {
background-image: url("../img/social-icons.png")!important;
background-position: -34px -2px;

}
.sharethis-wrapper .st_twitter_custom:hover {
background-image: url("../img/social-icons.png")!important;
background-position: -34px -33px;
}
.sharethis-wrapper .st_linkedin_custom{
background-image: url("../img/social-icons.png")!important;
background-position: -102px -2px;

}
.sharethis-wrapper .st_linkedin_custom:hover {
background-image: url("../img/social-icons.png")!important;
background-position: -102px -33px;
}

.logo1,.region.region-header,.region.region-search{
	border-top: 1px solid #10103f;
border-bottom: 5px solid #49afe3;
height:112px;}

.col-sm-2,.col-sm-8{
	padding:0px;}
	
	.caption-wrapper h2 a{
color: #dd6c26;
font-size: 38px !important;
padding: 10px;
font-weight: 800;
font-style: normal;
line-height: 33px;
text-decoration: none;
}
.caption-wrapper span h3 {
color: #dd6c26;
padding: 10px;
font-size: 14px;
}
.caption-wrapper{
background-color:none repeat scroll rgba(255, 255, 255, 0.75);
color: #dd6c26;
padding: 10px;
z-index: 9999;
margin-top:-330px;
margin-left: 60px;
}

article {
width: 100%;
height: 100%;
display:table-cell!important;
vertical-align: middle!important;
}

.flex-direction-nav a{
	width: 53px;
height: 60px;
line-height: 60px;

}
.flex-prev{
	background: #b8b8c6 url(../img/arrow-previous01.png) no-repeat center center;
	left:0px;}
	
	.flex-next{
		background: #b8b8c6 url(../img/arrow-next01.png) no-repeat center center;
		right:0px;}

.flex-direction-nav a:before{
	display:none;}
	
	.flexslider .flex-direction-nav a{
		display: block;}	
